<h1 align="center">Hospital</h1>
<h3><%=link_to "Doctor" , doctors_path%></h3>
<h3><%=link_to "Patient", patients_path%></h3>
<h3><%=link_to "Appointment",appointments_path%></h3>
<h3><%=link_to "article",articles_path%></h3>
<h3><%=link_to "Car",cars_path%></h3>
<h3><%=link_to "Laptop",laptops_path%></h3>
<h4>sandeep baswal </h4>

